@using Blog.Helper
@using Umbraco.Cms.Web.Common
@inject UmbracoHelper helper
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    var home = Model.AncestorOrSelf<Home>()!;

    // Retrieve all root nodes
    var contactsPage = Umbraco.GetPageByAlias("contacts");
    var aboutPage = Umbraco.GetPageByAlias("about");
    var pageName = Umbraco.AssignedContentItem;
}

<div data-w-id="7ecd2c46-248a-916e-eb95-08abb6aec6a5" data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="nav w-nav">
    <div class="nav-container">
        <div class="inset-nav-container">
            <div class="logo-wrapper">
                <a href="@home.Url()" aria-label="Logo" class="logo w-nav-brand">
                    <div>@home.HeaderText</div>
                </a>
            </div>
            <nav role="navigation" class="nav-menu w-nav-menu">
                <div class="links-wrapper">
                    <a href="@aboutPage!.Url()" class="navigation-link w-nav-link @(pageName.ContentType.Alias == "about" ? "w--current" : "")">About</a>
                    <a href="@contactsPage!.Url()" class="navigation-link w-nav-link @(pageName.ContentType.Alias == "contacts" ? "w--current" : "")">Contact</a>
                </div>
            </nav>
            <div class="menu-button w-nav-button" style="-webkit-user-select: text" aria-label="menu" role="button" tabindex="0" id="nav-button">
                <div class="menu-icon">
                    <div class="menu-icon-line-top"></div>
                    <div class="menu-icon-line-bottom"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="w-nav-overlay">
        <nav role="navigation" id="w-node-_7ecd2c46-248a-916e-eb95-08abb6aec6aa-b6aec6a5" class="nav-menu w-nav-menu" style="transition: all, transform 400ms; transform: translateY(0px) translateX(0px);" data-nav-menu-open="">

            <div class="links-wrapper">
                <a href="@aboutPage!.Url()" class="navigation-link w-nav-link w--nav-link-open @(pageName.ContentType.Alias == "about" ? "w--current" : "")">About</a>
                <link rel="prefetch" href="@aboutPage!.Url()">
                <a href="@contactsPage!.Url()" class="navigation-link w-nav-link w--nav-link-open @(pageName.ContentType.Alias == "contacts" ? "w--current" : "")">Contact</a>
                <link rel="prefetch" href="@contactsPage!.Url()">
            </div>
        </nav>

    </div>
</div>

<script>
    document.getElementById('nav-button').addEventListener('click', function () {
        const overlay = document.querySelector('.w-nav-overlay');
        const topLine = document.querySelector('.menu-icon-line-top');
        const bottomLine = document.querySelector('.menu-icon-line-bottom');

        if (overlay.hasAttribute('data-nav-menu-open')) {
            overlay.removeAttribute('data-nav-menu-open');

            // Remove inline styles
            if (topLine) topLine.style.transform = 'translate3d(0px, 0.0rem, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg)';
            if (topLine) topLine.style.transformStyle = '';

            if (bottomLine) bottomLine.style.transform = 'translate3d(0px, 0.0rem, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg)';
            if (bottomLine) bottomLine.style.transformStyle = '';
        } else {
            overlay.setAttribute('data-nav-menu-open', '');

            // Apply inline styles
            if (topLine) {
                topLine.style.transform = 'translate3d(0px, 0.25rem, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-45deg) skew(0deg, 0deg)';
                topLine.style.transformStyle = 'preserve-3d';
            }

            if (bottomLine) {
                bottomLine.style.transform = 'translate3d(0px, -0.25rem, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(45deg) skew(0deg, 0deg)';
                bottomLine.style.transformStyle = 'preserve-3d';
            }
        }
    });

</script>